@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.otf") format("opentype");
}

@font-face {
    font-family: HelveticaBlack;
    src: url("../fonts/Helvetica-black.otf") format("opentype");
}

@font-face {
    font-family: HelveticaBold;
    src: url("../fonts/Helvetica-bold.otf") format("opentype");
}