* {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    /*line-height: 30px;*/
}

.tab-active {
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.03);
    /*padding: 20px;*/
}

.section-main-content {
    line-height: 30px;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-main-content-title {
    display: flex;
    font-size: 45px;
    color: black;
    margin: 50px 0 30px 0;
    font-weight: 600;
    line-height: 40px;
}

.section-main-content-subtitle {
    color: black;
    font-size: 18px;
    /*width: 1069px;*/
    width: 1000px;
    margin: 0 auto;
}

.section-main-content-progress-bar-title {
    color: black;
    font-size: 21px;
    margin: 55px 0 15px 0;
    font-weight: 800;
}

.section-main-content-slider-items {
    width: 900px;
    /*padding-top: 50px;*/
}

.section-main-content-slider-item {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    /*margin-top: 38px;*/
    height: 250px;
    background-color: #ffffff;
}

.section-main-content-slider-item-image {
    padding-top: 40px;
}

.live-acc-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 272px;
}

.live-acc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 47px;
    color: white;
    background-color: #b79d2e;
    margin-top: 62px;
}

.item-name {
    margin-top: 40px;
}

.item-price {
    font-size: 25px;
}

.live-acc-btn-subtitle {
    margin-top: 15px;
}

.live-acc-btn-subtitle-white {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.temp-show,
.humi-show,
.pressure-show,
.temp_min-show,
.temp_max-show {
    color: #0ac717;
    font-size: 16px;
}

.section-main-content-progress-bar {
    width: 950px;
}

.section-main-content-progress-bar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /*margin: 20px;*/
}

.section-main-content-progress-bar-items > img {
    /*width: 50px;*/
    /*height: 50px;*/
    padding: 5px;
    border-radius: 50%;
}

.section-main-content-progress-bar-item-star {
    border: 2px solid #fe0000;
    border-radius: 50%;
}

.section-main-content-progress-bar-item-star-border {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px solid silver;
    border-radius: 50%;
}

/*.separate-line-stocks {*/
/*!*position: relative;*!*/
/*!*transform: rotateX(-180deg);*!*/
/*content: "";*/
/*width: 150px;*/
/*height: 10px;*/
/*background-color: black;*/
/*!*border: 1px solid silver;*!*/
/*!*left: 20px;*!*/
/*!*top: 50px;*!*/
/*!*bottom: 20px;*!*/
/*}*/

.section-main-content-progress-bar-item-oil {
    border: 2px solid #00a7cc;
    border-radius: 50%;
}

.section-main-content-progress-bar-item-oil-border {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px dashed silver;
    border-radius: 50%;
}

.section-main-content-progress-bar-item-rating {
    /*border-radius: 50%;*/
}

.section-main-content-progress-bar-item-rating-border {
    background-color: #daa620;
    background-image: linear-gradient(-246deg, rgba(252, 79, 18, 0.77) 0%, rgba(252, 185, 18, 0) 100%);
    display: flex;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px dashed black;
    border-radius: 50%;
}

.section-main-content-progress-bar-item-exch-grn {
    border: 2px solid #39b54a;
    border-radius: 50%;
}

.section-main-content-progress-bar-item-exch-viol {
    border: 2px solid #8560a8;
    border-radius: 50%;
}

.section-main-content-progress-bar-item-exch-grn-border {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px dashed silver;
    border-radius: 50%;
}

.section-main-content-progress-bar-item-exch-viol-border {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px dashed silver;
    border-radius: 50%;
}

.section-main-content-progress-bar-finish-line {
    width: 1190px;
    height: 0;
    border: 2px solid black;
    opacity: 0.1;
    /*margin-bottom: 100px;*/
    margin: 20px 0 64px 0;
}

.section-main-content-progress-bar-finish-line:before {
    content: "";
    position: relative;
    width: 0;
    top: -40px;
    height: 0;
    border-style: solid;
    border-width: 0 14px 14px 14px;
    border-color: transparent transparent #000000;
}

.section-slogan {
    /*margin-top: 110px;*/
    margin: 100px 0 100px 0;
    font-family: Helvetica, sans-serif;
    background-image: url("../img/slogan-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-slogan-title {
    display: flex;
    justify-content: center;
    /*text-align: center;*/
    font-size: 35px;
    color: white;
    /*margin-bottom: 22px;*/
    margin: 30px 0 22px 0;
    font-weight: 800;
}

.section-slogan-subtitle {
    display: flex;
    justify-content: center;
    /*text-align: center;*/
    font-size: 18px;
    color: white;
    width: 750px;
    text-align: center;
    line-height: 30px;
}

/*.slogan-live-acc {*/
/*margin-top: 20px;*/
/*color: white;*/
/*font-size: 14px;*/
/*}*/


@media screen and (max-width: 1281px) {
    .section-main-content-slider-items {
        width: 900px;
    }
}

@media screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    .section-main-content-slider-items {
        width: 320px;
    }

    .section-main-content-subtitle {
        width: 320px;
    }

    .section-main-content-progress-bar-finish-line {
        /*width: 100%;*/
        width: 20rem;
    }

    .section-main-content-progress-bar-items {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px;
    }

    .section-main-content-progress-bar-items > img {
        /*margin: 10px;*/
    }

    .section-slogan {
        height: 520px;
    }

    .section-slogan-subtitle {
        width: 100%;

    }

}

@media screen and (max-width: 320px) {
    .section-main-content-slider-items {
        width: 320px;
    }

    .section-main-content-subtitle {
        width: 320px;
    }

}

/*__________*/

.slick-slide {
    margin: 10px;
}

.slick-list {
    margin: 0 -5px 0 -5px;
}

/*__________*/

button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 50%;
    right: -50px;
    background-image: url("../img/right-arrow.png");
    background-repeat: no-repeat;
}

button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 50%;
    left: -50px;
    z-index: 1;
    background-image: url("../img/left-arrow.png");
    background-repeat: no-repeat;
    background-position-x: right;
}

.slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
}

.my-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.my-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.my-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
    outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
    opacity: 1;
}

.my-dots li button:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    /*margin-top: 25px;*/
    position: absolute;
    top: 0;
    left: 0;
    /*width: 30px;*/
    /*height: 30px;*/
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 1px silver;
    text-shadow: 1px 1px 0 silver, /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */ -1px -1px 0 silver, 1px -1px 0 silver, -1px 1px 0 silver, 1px 1px 0 silver;

}

.my-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}